html {
    background-image: linear-gradient(18deg, #0093E9 10%, #80b2dc 65%, #ffffff 90%);
    background-repeat: no-repeat;
}


body {
    background-image: url(IMAGES/21_07_2023\ 18_14_12.png);
    background-position:  top center;
    background-repeat: no-repeat;
    background-size: 60%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem  ;
    color: white;
  
}

.container {
    width: 68%;
    min-height: 100%;  
    margin-left: auto;
    margin-right: auto;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 20px;
   padding-bottom: 20px;
   color: #095480;
   border-bottom: 0.2px solid #095480;
}

.UpperLogo img {
     height: 70px;
}

.navbutton {
    border-color: #095480;
    font-family: "Times New Roman";
    padding: 11px 25px;
    border-radius: 9px;
    display: inline-block;
    background-color: #77afdc;
    position: relative;
}

.navbutton:hover {
    background-color: #095480;
    border-color: #095480;
    transition-duration: 0.8s;
}

main {
    min-height: 20.5%;
    display: flex;
    align-items: center;
}

.herobox1 {
    flex: 2;
    padding-right: 70px;
}

.herobox1 h1 {
    font-size: 3rem;
    font-family: "Times New Roman";
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.herobox1 p {
   font-size: 1.2rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.mailbutton {
    background-color: white;
    color: #0093E9;
    font-family: "Times New Roman";
    padding: 11px 25px;
    border-radius: 9px;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.219);
}

.mailbutton:hover {
    background-color: #0094e927;
    color: white;
    transition-duration: 0.5s;
}

.herobox2 {
    flex: 1;
}
 
.herobox2 img {
    max-height: 200px;
    width: 275px;
    padding-left: 47px;
}

.main2 {
    min-height: 300px;
    text-align: center;
}

.main2 h1 {
    font-size: 3rem;
    font-family: "Times New Roman";
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #095480;
}

.main2 p {
    font-size: 1.27rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    padding-left: 80px;
    padding-right: 80px;
    color: #095480
}

.main3 {
    min-height: 300px;
    text-align: center;
}

.main3 h1 {
    font-size: 2.5rem;
    font-family: "Times New Roman";
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    color: #095480;
}

.main3 p {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    padding-left: 80px;
    padding-right: 80px;
    color: #095480;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card1 {
    background-image: url(IMAGES/card\ 1\ img.jpg);
    background-size: cover;
    background-position: center;
    min-height: 250px;
    width: 27%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.219);
}

.card2 {
    background-image: url(IMAGES/red\ cabels\ card2.png);
    background-size: cover;
    background-position: center;
    min-height: 250px;
    width: 27%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.219);
}


.card3 {
    background-image: url(IMAGES/card\ 3\ img.png);
    background-size: cover;
    background-position: center;
    min-height: 250px;
    width: 27%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.219);
}

.card1, .card2, .card3 {
    padding: 20px 30px 15px 30px;
    box-sizing: border-box;
}

i {
    font-size: 4.1rem;
}


h2 {
    font-size: 2rem;
    font-family: "Times New Roman";
   margin-top: 20px;
}

.cards p {
    font-size: 1rem;
    line-height: 1.3rem;
    margin-top: 10px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}



.tbox {
    width: 47%;
    padding: 50px;
    border: 1px solid #095480;
    box-sizing: border-box;
    margin-top: 50px;
    line-height: 1.6rem;
}

.tbox p:last-of-type {
    font-size: 0.85rem;
    padding-left: 30px;
    padding-top: 7px;
}